{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sách</title>
    <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
</head>
<body>
    <h2>Danh sách Sách</h2>
    <table>
        <thead>
            <tr>
                <th>Bìa sách</th>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Giá</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td> 
                    <style>
                        img {
                            width: 30%; 
                            height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
                        }
                    </style>
                    {% if book.photo %}
                        <img src="{{ book.photo.url }}" alt="{{ book.title }}">
                    {% else %}
                        <p class="no-image">No image available</p>
                    {% endif %}
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }} VND</td>
                <td><a href="{% url 'book_detail' book.id %}">Xem chi tiết</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
